/*
 * Baikal-T BFK2 board device tree.
 *
 * Copyright (C) 2014-2016  Baikal Electronics JSC
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
 */

#include <dt-bindings/interrupt-controller/mips-gic.h>
#include <dt-bindings/gpio/gpio.h>

/dts-v1/;

#include "baikal_t1_soc.dtsi"

/ {
	model = "T-Platforms mITX Board";
	compatible = "baikal,mips", "baikal,baikal-t1-soc";
	#address-cells = <1>;
	#size-cells = <1>;
	interrupt-parent = <&gic>;

	chosen {
		bootargs = "root=/dev/ram rw console=ttyS0,115200n8 earlyprintk=uart8250,mmio32,0x1F04A000,115200 nohtw";
		linux,initrd-start = <0x02000000>;
		linux,initrd-end   = <0x03000000>;
	};

	memory {
		device_type = "memory";
		reg = <0x00000000 0x07000000>,
		      <0x20000000 0x70000000>;
	};

	leds {
		compatible = "gpio-leds";
		hdd {
			label = "Disk Activity";
			gpios = <&porta 18 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
		};
	};

};

&usb {
	status = "ok";
};

&sata {
	status = "ok";
};

&pcie {
	status = "ok";
};

&gmac0 {
	status = "ok";
};

&gpio {
	status = "ok";
};

&gpio3 {
	status = "ok";
};

&i2c0 {
	status = "ok";
};

&i2c1 {
	status = "ok";
};

&i2c1 {
	status = "ok";

	eeprom@53 {
		compatible = "atmel,24c32";
		pagesize = <32>;
		reg = <0x53>;
	};

	eeprom@50 {
		compatible = "atmel,24c02";
		pagesize = <16>;
		reg = <0x50>;
	};

	rtc@51 {
		compatible = "nxp,pcf2129", "nxp,pcf2127";
		reg = <0x51>;
	};

	bmc@8 {
		compatible = "tp,mitx2-bmc", "t-platforms,mitx2-bmc";
		reg = <0x08>;
	};

	shred: gpio@21 {
		compatible = "nxp,pcf8574";
		reg = <0x21>;
		gpio-controller;
		#gpio-cells = <2>;
		lines-initial-states = <0x0>;
	};
};

&spi0 {
	reg-io-width = <4>;
	num-cs = <2>;
	cs-gpios = <&porta 14 GPIO_ACTIVE_LOW>, <0>;
	status = "ok";

	mmc-slot@0 {
		compatible = "fsl,mpc8323rdb-mmc-slot", "mmc-spi-slot";
		reg = <0>;
		//gpios = <&porta 15 GPIO_ACTIVE_LOW>;
		voltage-ranges = <2000 3600>;
		spi-max-frequency = <7000000>;
		interrupts = <GIC_SHARED 19 IRQ_TYPE_LEVEL_HIGH>;
	};
};

&spi1 {
	reg-io-width = <4>;
	num-cs = <1>;
	cs-gpios = <0>;
	status = "ok";
};

&pvt {
	status = "ok";
};
