/*
 * Baikal-T1 BFK3 evaluation board device tree
 *
 * Copyright (C) 2014-2018  Baikal Electronics JSC
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version.
 */

/dts-v1/;

#include <dt-bindings/interrupt-controller/mips-gic.h>
#include <dt-bindings/gpio/gpio.h>

#include  "baikal_t1_soc.dtsi"
#include  "baikal_mdio.dtsi"

/ {
	model = "Baikal-T1 BFK3 evaluation board";
	compatible = "baikal,mips", "baikal,baikal-t1-soc", "baikal,baikal-bfk3-eval-board";
	#address-cells = <1>;
	#size-cells = <1>;

	chosen {
		bootargs = "root=/dev/ram rw rootwait console=ttyS0,115200n8 earlyprintk=uart8250,mmio32,0x1F04A000,115200 maxcpus=2 nohtw";
		linux,initrd-start = <0x01000000>;
		linux,initrd-end   = <0x02000000>;
	};

	memory {
		device_type = "memory";
		reg = <0x00000000 0x08000000>,
		      <0x20000000 0xC0000000>;
	};
};

&usb {
	status = "okay";
};

&sata {
	status = "okay";
};

&pci {
	status = "okay";
};

&xgmac {
	status = "okay";
};

&gmac0 {
	status = "okay";
};

&gmac1 {
	status = "okay";
};

&gpio {
	status = "okay";
};

&gpio3 {
	status = "okay";
};

&i2c0 {
};

&i2c1 {
	rtc@56 {
		compatible = "abracon,abeoz9s3";
		reg = <0x56>;
	};
};

&uart1 {
	status = "okay";
};

&bc {
	status = "okay";
};

&spi0 {
	reg-io-width = <4>;
	num-cs = <2>;
	cs-gpios = <&portb 0 GPIO_ACTIVE_LOW>,
			   <&portb 1 GPIO_ACTIVE_LOW>;

	status = "okay";

	flash@1 {
		#address-cells = <1>;
		#size-cells = <1>;
		status = "okay";
		compatible = "micron,n25q256a", "jedec,spi-nor";
		reg = <1>;
		spi-max-frequency = <10000000>;
		/* m25p,fast-read; */

		mtd@00000000 {
			label = "flash0";
			reg = <0x00000000 0x02000000>;
		};
	};
};

&spi1 {
	num-cs = <1>;
	cs-gpios = <&portb 2 GPIO_ACTIVE_LOW>;

	status = "okay";
};

&spi2 {
	reg-io-width = <4>;
	num-cs = <1>;
	status = "okay";

	flash@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		status = "okay";
		compatible = "jedec,spi-nor";
		reg = <0>;
		spi-max-frequency = <100000>;

		/* total size 16MB */
		part@0 {
			label = "UBOOT";
			reg = <0x0 0x80000>;
		};
		part@80000 {
			label = "ENVSET";
			reg = <0x80000 0x10000>;
		};
		part@90000 {
			label = "FIRMWARE";
			reg = <0x90000 0x10000>;
		};
		part@A0000 {
			label = "FDT";
			reg = <0xa0000 0x10000>;
		};
		part@B0000 {
			label = "MULTIIMAGE";
			reg = <0xb0000 0xf50000>;
		};
	};
};

&pvt {
	status = "okay";
};

&efuse {
	status = "okay";
};
