/*
 * Baikal-T BFK2 board device tree.
 *
 * Copyright (C) 2014-2016  Baikal Electronics JSC
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
 */

#include <dt-bindings/interrupt-controller/mips-gic.h>
#include <dt-bindings/gpio/gpio.h>

/dts-v1/;

#include "baikal_t1_soc.dtsi"

/ {
	model = "T-Platforms RT1MB Board";
	compatible = "baikal,mips", "baikal,baikal-t1-soc";
	#address-cells = <1>;
	#size-cells = <1>;
	interrupt-parent = <&gic>;

	chosen {
		bootargs = "root=/dev/ram rw console=ttyS0,115200n8 earlyprintk=uart8250,mmio32,0x1F04A000,115200 nohtw";
		linux,initrd-start = <0x01000000>;
		linux,initrd-end   = <0x02000000>;
	};

	memory {
		device_type = "memory";
		reg = <0x00000000 0x08000000>,
		      <0x20000000 0x70000000>;
	};

};

&usb {
	status = "ok";
};

&sata {
	status = "ok";
};

&pcie {
	status = "ok";
};

&gmac0 {
	status = "ok";
};

&gpio {
	status = "ok";
	usb_rst_line {
		gpio-hog;
		gpios = <18 0>;
		output-high;
		line-name = "usb-rst";
	};
};

&gpio3 {
	status = "ok";
};

&i2c0 {
	status = "ok";
};

&i2c1 {
	status = "ok";
	i2c-switch@70 {
		compatible = "nxp,pca9548";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x70>;

		i2c@1 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <1>;
		};

		i2c@2 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <2>;
		};

		i2c@4 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <4>;
		};

		i2c@5 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <5>;
			eeprom@53 {
				compatible = "atmel,24c512";
				reg = <0x53>;
				pagesize = <128>;
			};
		};

		i2c@6 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <6>;
			eeprom@50 {
				compatible = "atmel,24c512";
				reg = <0x50>;
				pagesize = <128>;
			};
		};

		i2c@7 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <7>;
			rtc@51 {
				compatible = "nxp,pcf2129";
				reg = <0x51>;
			};
		};
	};
};


&spi0 {
	num-cs = <2>;
	cs-gpios = <&porta 14 GPIO_ACTIVE_LOW>, <0>;
	status = "ok";

	mmc-slot@0 {
		compatible = "fsl,mpc8323rdb-mmc-slot", "mmc-spi-slot";
		reg = <0>;
//		gpios = <&porta 15 GPIO_ACTIVE_LOW>, <0>;
		voltage-ranges = <2000 3600>;
		spi-max-frequency = <15000000>;
	};
};

&spi1 {
	num-cs = <1>;
	cs-gpios = <0>;
	status = "ok";
};

&pvt {
	status = "ok";
};
